table {
	width:100%;
	background-color: red;

  font-size: 20px;
  border-collapse: collapse;
  text-align: left;
}
th {
  font-weight: normal;
  color: #039;
  border-bottom: 2px solid #6678b1;
  padding: 10px 8px;
}
td {
  color: #669;
  padding: 9px 8px;
}
ol{
 	padding: 20px;
 }

ol li{
 	padding: 10px;
 }

tr:nth-child(2n) {
	background-color:white;
}
